# Vercel Neon PostgreSQL Connection
DATABASE_URL=postgresql://neondb_owner:npg_rsYK0BNn5gaI@ep-frosty-wildflower-a178lj9x-pooler.ap-southeast-1.aws.neon.tech/neondb?channel_binding=require&sslmode=require

# Server
PORT=3000
NODE_ENV=development
